body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image: url(backgroundIMG.avif);
}
.firstContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
}
h1{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:coral;
}
.team{
    margin: 20px; 
    display:flex;
}
img{
    padding-left: 10px;
}
#firstName{
    width: 37px;
    height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(160px,30px);
    color:azure;
    background-color:saddlebrown;
    border-width: 2px;
    border-radius: 10px;

}
#secName{
    width: 52px;
    height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(1200px,30px);
    color:azure;
    background-color:chocolate;
    border-width: 2px;
    border-radius: 10px;
}
#thirdName{
    width: 79px;
    height:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(160px,400px);
    color:white;
    background-color:saddlebrown;
    border-width: 2px;
    border-radius: 10px;
}
#fourthName{
    width: 60px;
    height:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(1100px,420px);
    color:azure;
    background-color:sienna;
    border-width: 2px;
    border-radius: 10px;
}
#fifthName{
    width: 60px;
    height:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(900px,200px);
    color:azure;
    background-color:sienna;
    border-width: 2px;
    border-radius: 10px;
}
.middle{
    display: grid;
    place-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.highlight{
    color:coral;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size:300%;
    max-width: 420px;
    letter-spacing: -0.01px;
}
p{
    text-align: justify;
    max-width: 420px;
    padding:0;
}
.downarea{
    padding:0;
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
#firstbutton{
    width: 150px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius:40px ;
    background-color: beige;
    transform: translate(440px,2px);
}
#secBtn{
    width: 170px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius:40px;
    background-color:beige;
    transform: translate(460px,2px);
}
#thirdBtn{
    width: 150px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius:40px;
    background-color: beige;
    transform: translate(480px,2px);
}