body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image: url(backgroundIMG.avif);
}
.firstContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
}
h1{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:coral;
}
.team{
    margin: 20px; 
    display:flex;
}
img{
    padding-left: 10px;
}
#firstName{
    width: 37px;
    height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(160px,30px);
    color:azure;
    background-color:saddlebrown;
    border-width: 2px;
    border-radius: 10px;

}
#secName{
    width: 52px;
    height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(1200px,30px);
    color:azure;
    background-color:chocolate;
    border-width: 2px;
    border-radius: 10px;
}
#thirdName{
    width: 79px;
    height:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(160px,400px);
    color:white;
    background-color:saddlebrown;
    border-width: 2px;
    border-radius: 10px;
}
#fourthName{
    width: 60px;
    height:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform:translate(1100px,420px);
    color:azure;
    background-color:sienna;
    border-width: 2px;
    border-radius: 10px;
}
.middle{
    display: grid;
    place-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}